In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [3]:
an_apple = 27
print(an_apple)

27

In [4]:
b = [1,2,3]

In [5]:
b?